<h1>A new issue has been posted:</h1>

<p><strong><%= @issue.title %></strong></p>

<p><%= @issue.body %></p>
<br>

<p>Reply to this email to resolve the issue.</p>
<br>

<%= link_to 'Issue on the site', issue_path(@issue) %>
